body {
margin: 0px;
}

.outer {
height: 100vh;	
}

.videoTag {
height:100vh;	
width:100%; 
object-fit:cover;
}

.imgContainer {
	position: absolute;
	width:1000px;
	height:100%;
	top:-3px;
	left:180px;
	background-color: red;
}

.imgBody {
	width: inherit;
	height: inherit;
}
